.slick-arrow{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgb(12, 12, 12);
  color: rgb(252, 247, 247);
}
.slick-next{
  right: 330px;
}
.slick-prev{
  left: 325px;
  z-index: 1;
}
